body {
  background: radial-gradient(#401766, #112233) no-repeat;
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container h1 {
  font-size: 2.5rem;
  text-shadow: -2px 1px #7ac4ff;
  color: #cf44ff;
}
.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.filter-container input {
  width: 300px;
  height: 30px;
  border: 1px solid #cf44ffb8;
  border-radius: 32px;
  background: #0000001a;
  padding: 8px 14px 8px 20px;
  color: #a1cfff;
}
.filter-container input:focus {
  outline: none;
  border-color: #cf44ff;
}
.filter-container input::placeholder {
  color: darkcyan;
}

.footer {
  color: #a1cfff;
}
.footer a {
  color: #cf44ff;
  text-decoration: none;
}